.new-todo {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: none;
  padding: 16px 16px 16px 60px;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 24px;
  line-height: 1.4em;
  background: rgba(0, 0, 0, 0.003);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
