.todoapp {
  position: relative;
  margin: 130px 0 40px 0;
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.todoapp input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-style: italic;
}

.todoapp input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-style: italic;
}

.todoapp input::input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
  font-style: italic;
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}
